@(warning : Option[String], userForm: Form[VAUser], infoMessage : Option[String], backend : String, responseType : String, app : String)(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])
@implicitField = @{ FieldConstructor(fieldConstructorTemplate.f) }

@import helper._
@import play.i18n.Messages
@import play.api.Play

@getDisabled(field : Field) = {
	@if(field.value.isDefined && !field.value.get.isEmpty) {
		readonly
	} else {
	  notreadonly
	}
}

@main("Welcome Consent: Verify address") {	

@if("token".equals(responseType)) {
		
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/json2.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/localstorage.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/jso.js")"></script>
	<script type="text/javascript" src="@routes.ConsentVerifyAddress.getOauthProviders(backend, app)"></script>
	
	<script type="text/javascript">

    $.oajax({
        url: "@{Play.current.configuration.getString(backend + ".address_endpoint")}?client_id=@{Play.current.configuration.getString(backend + "." + app + ".client_id")}",
        jso_provider: "swisscom",
        jso_allowia: true,
        dataType: 'json',
        success: function(data) {
          console.log("Response (Swisscom):");
          console.log(data);
          
          var address = data.address;
          //$("#firstname").val("test");
          //$("#name").val(address.);
          if (address.streetAddress) {
            $("#street").val(address.streetAddress);
            $("#street").prop('readonly', 'true');
          }
          if (address.streetAddress) {
            $("#street").val(address.streetAddress);
            $("#street").prop('readonly', 'true');
          }
          if (address.houseNumber) {
            $("#housenr").val(address.houseNumber);
            $("#housenr").prop('readonly', 'true');
          }
          if (address.postalCode) {
            $("#zip").val(address.postalCode);
            $("#zip").prop('readonly', 'true');
          }
          if (address.city) {
            $("#city").val(address.city);
            $("#city").prop('readonly', 'true');
          }
          if (address.country) {
            $("#country").val(address.country);
            $("#country").prop('readonly', 'true');
          }
          
          return false; 
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log("Error:");
          console.log(textStatus);
          console.log(errorThrown);
        }
      });
 	</script>
}
      
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<img src="@routes.Assets.at("images/logo-roberto.png")"/>
    </h3>
    <div class="btn-group pull-right"></div>
  </div>
  <div class="panel-body">
  	<h2>Become a member now!</h2>
  	<p>
  	Create a free account on roberto.ch
    </p>
    @helper.form(action = routes.ConsentVerifyAddress.submit, 'class->"form-horizontal", 'name->"userdata") {
      <input type="hidden" name="backend" value='@backend' >
      <input type="hidden" name="responseType" value='@responseType' >
      <input type="hidden" name="app" value='@app' >
    	
   		@if(userForm.hasErrors) {
	    	<div class="alert alert-dismissable alert-danger">
	  			<button type="button" class="close" data-dismiss="alert">x</button>
			  	<strong>Oh snap!</strong> Please fix all errors below and try again.
	  		</div>
    	}
   		@if(warning.isDefined) {
	    	<div class="alert alert-dismissable alert-danger">
	  			<button type="button" class="close" data-dismiss="alert">x</button>
			  	<strong>Error calling API:</strong> @warning.get
		  	</div>
    	} 
      @if(!warning.isDefined && infoMessage.isDefined) {
	    	<div class="alert alert-dismissable alert-info">
	  			<button type="button" class="close" data-dismiss="alert">x</button>
			  	@infoMessage.get
			  </div>
    	}

	  <fieldset>
	    <legend></legend>

    	@inputText(
	    		    userForm("firstname"),
	            '_label -> "First name",
	            'class -> "form-control",
	            Symbol(getDisabled(userForm("firstname")).toString) -> "true",
	            'placeholder -> userForm("firstname").value.getOrElse(""),
	            '_error -> userForm.error("firstname")
	        )
	    
    	@inputText(
            userForm("name"), 
            '_label -> "Last name",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("name")).toString) -> "true",
            'placeholder -> userForm("name").value.getOrElse(""),
            '_error -> userForm.error("name")
        )
        
    	@inputText(
            userForm("street"), 
            '_label -> "Street",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("street")).toString) -> "true",
            'placeholder -> userForm("street").value.getOrElse(""),
            '_error -> userForm.error("street")
        )
    	@inputText(
            userForm("housenr"), 
            '_label -> "House Nr",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("housenr")).toString) -> "true",
            'placeholder -> userForm("housenr").value.getOrElse(""),
            '_error -> userForm.error("housenr")
        )
        @inputText(
            userForm("zip"), 
            '_label -> "Zip",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("zip")).toString) -> "true",
            'placeholder -> userForm("zip").value.getOrElse(""),
            '_error -> userForm.error("zip")
        )
    	@inputText(
            userForm("city"), 
            '_label -> "City",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("city")).toString) -> "true",
            'placeholder -> userForm("city").value.getOrElse(""),
            '_error -> userForm.error("city")
        )
        @inputText(
            userForm("country"), 
            '_label -> "Country",
            'class -> "form-control",
	        Symbol(getDisabled(userForm("country")).toString) -> "true",
            'placeholder -> userForm("country").value.getOrElse(""),
            '_error -> userForm.error("country")
        )
        
    	@inputText(
            userForm("msisdn"), 
            '_label -> "Phone number",
            'class -> "form-control"
        )
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	      	<a href="@routes.ConsentVerifyAddress.index(backend,responseType,app)" class="btn btn-default">Cancel</a>
	        <button type="submit" class="btn btn-primary pull-right">Complete registration</button>
	      </div>
	    </div>
	  </fieldset>
	}
  </div><!-- panel-heading -->
</div><!-- panel -->

}