@(backend:String, responseType:String, clientId:String, redirectUri:String, app : String)(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play

@main("Welcome Consent: Verify address") {	

@if("token".equals(responseType)) {
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.0.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/json2.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/localstorage.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jso.js")"></script>
  <script type="text/javascript" src="@routes.ConsentVerifyAddress.getOauthProviders(backend, app)"></script>
    
	<script type="text/javascript">
	  function doImplicit() {
	
	    // This dumps all cached tokens to console, for easyer debugging.
	    jso_dump();
		
		  jso_wipe();
		  
		  //checks if has token
		  jso_ensureTokens({"swisscom": []});
		 	   
	  }
	</script>
}

<script type="text/javascript">
  function getConsent(responseType) {
    if (responseType === "token") {
      doImplicit();
    }
    else if ("code" === responseType) {
      window.location.href = "@{Play.current.configuration.getString(backend + ".consent_endpoint")}?response_type=@helper.urlEncode(responseType)&redirect_uri=@helper.urlEncode(redirectUri)&client_id=@helper.urlEncode(clientId)&lang=en@if(app=="manual40"||app=="automatic40"){&RAL=40}";
    }
  }
</script>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<img src="@routes.Assets.at("images/logo-roberto.png")"/>
        <a href="#" class="btn btn-primary btn-sm pull-right">@Messages.get("button.login")</a>
        <span class="pull-right">&nbsp;&nbsp;&nbsp;@Messages.get("section.consent.verifyaddress.or")&nbsp;&nbsp;&nbsp;</span>
		<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">@Messages.get("section.consent.verifyaddress.get.member")</button>
    	<span class="pull-right">@Messages.get("section.consent.verifyaddress.new.here")&nbsp;&nbsp;&nbsp;</span>
    </h3>
    <div class="btn-group pull-right"></div>
  </div>
  <div class="panel-body">
  	<h2>Welcome to roberto.ch online shop</h2>
  	<p>
  	This is a demo which simulates an online shop registration. Click on "@Messages.get("section.consent.verifyaddress.get.member")".
    </p>
   	<img src="@routes.Assets.at("images/ricardo.png")" height="100%"/></>
  </div><!-- panel-heading -->
</div><!-- panel -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="purchaseLabel">Do you want to provide us your data?</h4>
             </div>
             <div class="modal-body">
			      <h2>Provide us your data quickly and securely with Swisscom</h2>
			      <p>You can start selling immediately by allowing us to obtain your personal data (name and address) directly from Swisscom.
			      </p>
			      @if(backend=="mock") {
			      	<a href="@routes.SSOMock.index"><img class="swisscom-login-button" src="/assets/images/register_swisscom_l.png"/></a>
			      } else {
			      	<a href="javascript:getConsent('@responseType')"><img class="swisscom-register-button" src="/assets/images/register_swisscom_l.png"/></a>
			      }
             </div>
             <div class="modal-footer">
			      <button type="button" class="btn btn-warning" data-dismiss="modal">Proceed with postal verification (3 days)</button> 
			 </div>
         </div>
     </div><!-- modal-dialog -->
</div><!-- modal -->

}
