@(backend: String, error : Option[String])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play
@import org.joda.time.{DateTime, Period}

@main("Location: Request Device") {
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

<script type="text/javascript">

function addJson(element, data) {
  $(element).html("<pre>" + data + "</pre>");
}

function getDeviceLocation(data) {
    addJson("#response-loc-msisdn", "Loading...")
	get('loc-msisdn', jsRoutes.controllers.Location.getDeviceLocation('@backend').url, data);
}

function get(what, url, data) {
	$.getJSON(url,data,
	    function(data) {
	      addJson("#response-" + what, data.response);
	    }
  );
}

</script>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
    	    <img src="@routes.Assets.at("images/location_icon.png")"/>
        </h3>
        <div class="btn-group pull-right"></div>
    </div>
    <div class="panel-body">
  	    <h2>Device Locator</h2>
        <h3>Once available, use production demo for arbitrary imsi/tel values</h3>

        @if(error.isDefined) {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">x</button>
                Error: @error.get
            </div>
        }

        <h4>Get Device Location</h4>
        <form>
	        <div class="form-group">
		        <label for="device-msisdn" class="col-sm-2 control-label">Device identifier:</label>
		        <div class="col-sm-10">
                    <select name="device-msisdn" style="margin-bottom: 10px">
                        <option value="imsi-228014935000040" selected>imsi 228014935000040</option>
                        <option value="tel-+41794938523">tel +41794938523</option>
                        <option value="tel-+41794935040">tel +41794935040</option>
                        <option value="tel-+41794937062">tel +41794937062</option>
                    </select>
		        </div>
	      	</div>
	      	<input type="button" class="btn btn-default" value="Get Location" OnClick="javascript:getDeviceLocation($(this.form).serialize())"/>
	    </form>
	    <div id="response-loc-msisdn" style="margin-top: 15px"></div>
    </div>
</div>
}