@(backend: String)(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages

@main("Welcome to "+Messages.get("section.consent")+" Apis") {	
	<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifytokencreation")</h2>
          <p>@Messages.get("section.consent.verifytokencreation.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentToken.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress")</h2>
          <p>@Messages.get("section.consent.verifyaddress.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index("mock","","manual")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.manual.authcode")</h2>
          <p>@Messages.get("section.consent.verifyaddress.manual.authcode.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"code","manual")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.automatic.authcode")</h2>
          <p>@Messages.get("section.consent.verifyaddress.automatic.authcode.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"code","automatic")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.manual.implicit")</h2>
          <p>@Messages.get("section.consent.verifyaddress.manual.implicit.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"token","manual")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.automatic.implicit")</h2>
          <p>@Messages.get("section.consent.verifyaddress.automatic.implicit.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"token","automatic")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.manual40.authcode")</h2>
          <p>@Messages.get("section.consent.verifyaddress.manual40.authcode.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"code","manual40")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.verifyaddress.automatic40.authcode")</h2>
          <p>@Messages.get("section.consent.verifyaddress.automatic40.authcode.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentVerifyAddress.index(backend,"code","automatic40")" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.payment")</h2>
          <p>@Messages.get("section.consent.payment.desc")</p>
          <p><a class="btn btn-default" href="@routes.ConsentPayment.login(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>@Messages.get("section.consent.paymentv2.transactions")</h2>
            <p>@Messages.get("section.consent.paymentv2.transactions.desc")</p>
            <p><a class="btn btn-default" href="@routes.PaymentV2.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.Online3rdParty")</h2>
          <p>@Messages.get("section.consent.Online3rdParty.desc")</p>
          <p><a class="btn btn-default" href="@routes.Online3rdParty.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.Call")</h2>
          <p>@Messages.get("section.consent.Call.desc")</p>
          <p><a class="btn btn-default" href="@routes.Calling.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.PaymentsFlowPartnerAgent")</h2>
          <p>@Messages.get("section.consent.PaymentsFlowPartnerAgent.desc")</p>
          <p><a class="btn btn-default" href="@routes.PaymentsFlowPartnerAgent.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>@Messages.get("section.consent.PaymentsFlowSelfcare")</h2>
          <p>@Messages.get("section.consent.PaymentsFlowSelfcare.desc")</p>
          <p><a class="btn btn-default" href="@routes.PaymentsFlowSelfcare.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>@Messages.get("section.consent.Location")</h2>
          <p>@Messages.get("section.consent.Location.desc")</p>
          <p><a class="btn btn-default" href="@routes.Location.index(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
      </div>
	</div>
}