@(backend : String, redirectUri : String, clientId : String, error: Option[String])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play

@main("Location: Start") {
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title"></h3>
			</div class="buton-group pul-right"></div>
		</div>
		<div class="panel-body">
			<h2>Welcome to the Device locator</h2>
			    @if(error.isDefined) {
			        <div class="alert alert-dismissable alert-danger">
			          <button type="button" class="close" data-dismiss="alert">x</button>
			          Error: @error.get
			        </div>
			    }
			<p>
				Check the location of your device:
			</p>
			<p>
				<a href="@{Play.current.configuration.getString(backend + ".consent_endpoint")}?response_type=code&redirect_uri=@helper.urlEncode(redirectUri)&client_id=@helper.urlEncode(clientId)&lang=en"><img class="swisscom-login-button" src="/assets/images/login_swisscom_l.png"/></a>
			</p>
		</div>
	</div>
}