@(backend : String, subscriptionKey : String, msisdn : String, productName : String, error : Option[String])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play
@import org.joda.time.{DateTime, Period}

@main("Online Third Party: Contract Selected") {

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

<script type="text/javascript">

function addJson(element, data) {
  $(element).html("<pre>" + data + "</pre>");
}

function getCustomerInfo(what) {
  get(what, jsRoutes.controllers.Online3rdParty[what]('@backend').url, null);
}

function getContractInfo(what, data) {
  get(what, jsRoutes.controllers.Online3rdParty[what]('@subscriptionKey','@backend').url, data);
}

function get(what, url, data) {
	$.getJSON(url,data,
	    function(data) {
	      addJson("#response-" + what, data.response);
	    }
  );
}

</script>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
    	<img src="@routes.Assets.at("images/3rdparty_logo.png")"/>
    </h3>
    <div class="btn-group pull-right"></div>
  </div>
  <div class="panel-body">
  	<h2>Third Party Online Shop</h2>

    @if(error.isDefined) {
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">x</button>
          Error: @error.get
        </div>
    }

    <p>
    Selected phone: 
    </p>
    <p>
    <img src="@routes.Assets.at("images/nokia_5110.png")"/>
    </p>
		<p>
		  The following contract will be renewed:
		</p>
    <table class="table-bordered table-condensed">
      <tr>
        <th class="col-md-2"><b>Msisdn</b></th>
        <td>@msisdn</td>
		  </tr>
		  <tr>
		    <th class="col-md-2"><b>subscriptionKey</b></th>
		    <td>@subscriptionKey</td>
		  </tr>
		  <tr>
		    <th class="col-md-2"><b>productName</b></th>
		    <td>@productName</td>
		  </tr>		  
		</table>
		
    <h4>Customers - Segments</h4>
    <input type="button" class="btn btn-default" value="Get Segment" OnClick="javascript: getCustomerInfo('segment')"/>
    <div id="response-segment"></div>
    
    <h4>Customers - Birthdates</h4>
    <input type="button" class="btn btn-default" value="Get Birthdate" OnClick="javascript: getCustomerInfo('birthdate')"/>
    <div id="response-birthdate"></div>

    <h4>Contracts - Simcards</h4>
    <input type="button" class="btn btn-default" value="Get Simcards" OnClick="javascript: getContractInfo('simcards', null)"/>
    <div id="response-simcards"></div>
    
    <h4>Contracts - Retentions</h4>
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">language</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language" value="de"/>
        </div>
      </div>
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">channel</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="channel" id="channel" value="RESELLER_ONLINE"/>
        </div>
      </div>
      <input type="button" class="btn btn-default" value="Get Retention" OnClick="javascript: getContractInfo('retention',$(this.form).serialize())"/>
    </form>
    <div id="response-retention"></div>
  
    <h4>Contracts - Eligibilities</h4>
    <form class="form-horizontal" method="post">
	    <div class="form-group">
	      <label for="isDeviceWithoutVZ" class="col-sm-2 control-label">isDeviceWithoutVZ</label>
	      <div class="col-sm-10">
	        <input type="text" class="form-control" name="isDeviceWithoutVZ" id="isDeviceWithoutVZ" value="false"/>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="useCase" class="col-sm-2 control-label">useCase</label>
        <div class="col-sm-10">
	        <input type=text class="form-control" name="useCase" id="useCase" value="RETENTION"/>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="channel" class="col-sm-2 control-label">channel</label>
        <div class="col-sm-10">
	        <input type=text class="form-control" name="channel" id="channel" value="RESELLER_ONLINE"/>
	      </div>
	    </div>
	    <div class="form-group" class="col-sm-2 control-label">
	      <label for="segment" class="col-sm-2 control-label">segment</label>
        <div class="col-sm-10">
	        <input type=text class="form-control" name="segment" id="segment" value="RES"/>
	      </div>
	    </div>
	    <div class="form-group" class="col-sm-2 control-label">
	      <label for="deviceId" class="col-sm-2 control-label">deviceId</label>
        <div class="col-sm-9">
	        <input type=text class="form-control" name="deviceId" id="deviceId" value=""/>
	      </div>
        <div class="text-info col-sm-1">
          optional
        </div>
	    </div>
	    <input type="button" class="btn btn-default" value="Get Eligibility" OnClick="javascript: getContractInfo('eligibility',$(this.form).serialize())">
    </form>
    <div id="response-eligibility"></div>

    <h4>Contracts - Orders</h4>
    <form class="form-horizontal" method="post">
      <div class="form-group">
        <label for="externalUserLoginId" class="col-sm-2 control-label">externalUserLoginId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="externalUserLoginId" id="externalUserLoginId" value="OADMIN"/>
        </div>
      </div>
      <div class="form-group">
        <label for="dealerId" class="col-sm-2 control-label">dealerId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="dealerId" id="dealerId" value="2800069"/>
        </div>
      </div>
      <div class="form-group">
        <label for="deviceId" class="col-sm-2 control-label">deviceId</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="deviceId" id="deviceId" value="10029375"/>
        </div>
      </div>
      <div class="form-group">
        <label for="commitmentPeriod" class="col-sm-2 control-label">commitmentPeriod</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="commitmentPeriod" id="commitmentPeriod" value="ONE_YEAR"/>
        </div>
      </div>
      <div class="form-group">
        <label for="useCase" class="col-sm-2 control-label">useCase</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="useCase" id="useCase" value="RETENTION"/>
        </div>
      </div>
      <div class="form-group">
        <label for="simTechnology" class="col-sm-2 control-label">simTechnology</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="simTechnology" id="simTechnology" value="NFC"/>
        </div>
      </div>
      <div class="form-group">
        <label for="AppleCare" class="col-sm-2 control-label">AppleCare</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="AppleCare" id="AppleCare" value="false"/>
        </div>
      </div>
      <div class="form-group">
        <label for="channel" class="col-sm-2 control-label">channel</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="channel" id="channel" value="RESELLER_ONLINE"/>
        </div>
      </div>
      <div class="form-group">
        <label for="context" class="col-sm-2 control-label">context</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="context" id="context" value="ONLINE"/>
        </div>
      </div>
      <div class="form-group">
        <label for="productName" class="col-sm-2 control-label">productName</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="productName" id="productName" value="N_NATEL RES L"/>
        </div>
      </div>
      <div class="form-group">
        <label for="newContractStartDate" class="col-sm-2 control-label">newContractStartDate</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="newContractStartDate" id="newContractStartDate" value="@DateTime.now.plusMonths(2).toYearMonthDay()"/>
        </div>
      </div>
      <div class="form-group">
        <label for="language" class="col-sm-2 control-label">language</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="language" id="language" value="FR"/>
        </div>
      </div>
      <div class="form-group">
        <label for="originIpAddress" class="col-sm-2 control-label">originIpAddress</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="originIpAddress" id="originIpAddress" value="@request.remoteAddress"/>
        </div>
      </div>
      <div class="form-group">
        <label for="contactChannel" class="col-sm-2 control-label">contactChannel</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="contactChannel" id="contactChannel" value="E-Mail"/>
        </div>
      </div>
      <h6>oneTimeContact</h6>
      <div class="form-group">
        <label for="cellularPhoneNumber" class="col-sm-2 control-label">cellularPhoneNumber</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="cellularPhoneNumber" id="cellularPhoneNumber" value="+41790000000"/>
        </div>
      </div>
      <div class="form-group">
        <label for="emailAddress" class="col-sm-2 control-label">emailAddress</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="emailAddress" id="emailAddress" value="abcd@@bcdefg.ch"/>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">firstName</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="firstName" id="firstName" value="Alexander"/>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">lastName</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="lastName" id="lastName" value="Meier"/>
        </div>
      </div>
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="title" id="title" value="Mr."/>
        </div>
      </div>

      <input type="button" class="btn btn-default" value="Submit Order" OnClick="javascript: getContractInfo('order', $(this.form).serialize())"/>    
    </form>
    <div id="response-order"></div>

  </div><!-- panel-heading -->
</div><!-- panel -->

}
