@()(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages

@main("Welcome to "+Messages.get("section.messaging")+" Apis") {	
	    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>@Messages.get("section.messaging.sms")</h2>
          <p>@Messages.get("section.messaging.sms.desc")</p>
          <p><a class="btn btn-default" href="@routes.SmsSender.form" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
      </div>

}