@(capacityForm: Form[CapacityInfo])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play

@main("Welcome to Mobile Apis") {	

	<img src="@routes.Assets.at("images/speedtest.png")" width="150" />
	<br>
	<br>
	<img src="@routes.Assets.at("images/13z15_und_1_8z2_0.png")" width="420" />
	<br>
	<br>
    
	<p>
		<h4>This is the result WITH the Mobile Network Information API</h4>
	</p>

	<table class="table table-bordered">
		<tr><td colspan="3"><b>Swisscom</b></td></tr>
		<tr bgcolor=@capacityForm("color").value><td width="33%">Download Speed (MBit/s)</td><td width="33%" style="text-align:right">@capacityForm("downloadRate").value</td><td><b>@capacityForm("downloadRatio").value%</b> of expected Speed</td></tr>
		<tr bgcolor=@capacityForm("color").value><td width="33%">Upload Speed (MBit/s)</td><td width="33%" style="text-align:right">@capacityForm("uploadRate").value</td><td><b>@capacityForm("uploadRatio").value%</b> of expected Speed</td></tr>
	</table>

	<p>
		<h4>This is what was expected from your subscription</h4>
	</p>

	<table class="table table-bordered">
		<tr><td width="33%">Download Speed (MBit/s)<br>Upload Speed (MBit/s)</td><td width="33%" style="text-align:right">@capacityForm("expectedDownload").value<br>@capacityForm("expectedUpload").value</td><td>Throttling Status: <b>@capacityForm("throttling").value</b></td></tr>
	</table>

	<p>
		<h4>This is what the competitors had (unthrottled)</h4>
	</p>

	<table class="table table-bordered">
		<tr bgcolor="#CCFFCC"><td colspan="3"><b>Rank 1: Swisscom</b></td></tr>
		<tr bgcolor="#CCFFCC"><td width="33%">Download Speed (MBit/s)<br>Upload Speed (MBit/s)</td><td width="33%" style="text-align:right">14.27<br>1.96</td><td><a class="btn btn-primary" href="@routes.MobileCapacity.withoutAPI" role="button">Upgrade <b>Swisscom</b> subscription</a></td></tr>
		<tr bgcolor="#FFC68D"><td colspan="3"><b>Rank 2: Sunset</b></td></tr>
		<tr bgcolor="#FFC68D"><td width="33%">Download Speed (MBit/s)<br>Upload Speed (MBit/s)</td><td width="33%" style="text-align:right">12.88<br>1.71</td><td><a class="btn btn-primary" href="@routes.MobileCapacity.withoutAPI" role="button">Switch to <b>Sunset</b></a></td></tr>
		<tr bgcolor="#FF704D"><td colspan="3"><b>Rank 3: Pepper</b></td></tr>
		<tr bgcolor="#FF704D"><td width="33%">Download Speed (MBit/s)<br>Upload Speed (MBit/s)</td><td width="33%" style="text-align:right">11.93<br>1.64</td><td><a class="btn btn-primary" href="@routes.MobileCapacity.withoutAPI" role="button">Switch to <b>Pepper</b></a></td></tr>
	</table>

    <a class="btn btn-primary" href="@routes.MobileCapacity.form" role="button">Back</a>

}