@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-compass";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

@import "theme.scss";
@import "theme-bw.scss";

$body-bg2: darken($body-bg, 10%);
$text-color2: lighten($text-color, 90%);
$picture-main: '../images/box-4.jpg';
$picture2: '../images/planching-girl-4.jpg';
$picture3: '../images/dance-4.jpg';
$picture4: '../images/yoga-4.jpg';
$picture5: '../images/zumba-4.jpg';


$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          $brand-success;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 10%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* img */
img {
  max-width: 100%;
  height: auto;
}

form {
  .text-danger {
    color: $brand-danger;
    margin-bottom: 10px;
  }
  .ng-invalid.ng-dirty {
    border-color: $brand-danger;
  }
  .ng-valid.ng-dirty {
    border-color: $brand-success;
  }

  input, button {
    margin: 5px 0;
  }
}

/* overlay */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  padding-top: 90px;
  padding-bottom: 90px;
}


.panel {
  color: $text-color;
}

.panel legend{
  color: $text-color;
}

.panel .glyphicon {
  padding-right: 20px;
}


.has-error .help-block,
.has-error .control-label,
.has-error .form-control,
.has-error .form-control-feedback{
  color: $brand-success;
  border-color: $brand-success;
}
.has-error .help-block,
.has-error .control-label,
.has-error .form-control,
.has-error .form-control-feedback{
  color: $brand-warning;
  border-color: $brand-warning;
}
.has-error .help-block,
.has-error .control-label,
.has-error .form-control,
.has-error .form-control-feedback{
  color: $brand-danger;
  border-color: $brand-danger;
}


/* start home */
#home {
  background: url($picture-main) no-repeat;
  background-size: cover;
  color: $text-color2;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

#home p {
  font-weight: 400;
  font-style: italic;
  line-height: 2em;
}


/* end home */
#signUp {
  background: url($picture-main) no-repeat;
  background-size: cover;
  color: $text-color2;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* start whoweare */
#whoweare {
  padding-top: 60px;
  padding-bottom: 60px;
}

#whoweare p {
  padding-top: 10px;
}

#whoweare span {
  float: left;
}

/* end whoweare */

/* start feature */
#feature {
  background: $body-bg2;
  padding-top: 80px;
  padding-bottom: 80px;
}

#feature p {
  padding-top: 10px;
}

#feature span {
  float: left;
}

#feature .fa {
  background: $brand-primary;
  border-radius: 50%;
  color: $text-color2;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}

/* end feature */

/* start studios */
#studios {
  background: $body-bg;
  padding-top: 80px;
  padding-bottom: 80px;
}

#studios p {
  padding-top: 10px;
}

#studios span {
  float: left;
}

#studios .fa {
  background: $brand-primary;
  border-radius: 50%;
  color: $text-color;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}

/* end studiosstudios */

/* start pricing */
#pricing {
  background: $body-bg2;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

#pricing h2 {
  padding-bottom: 60px;
}

#pricing .pricing {
  background: $body-bg;
}

#pricing .active {
  position: relative;
  bottom: 20px;
}

#pricing .pricing .pricing-title {
  background: darken($brand-primary, 15%);
  color: $text-color2;
  font-weight: bold;
  padding: 30px;
}

#pricing .pricing .pricing-title p {
  font-size: 20px;
}

#pricing .pricing ul {
  padding: 0;
  margin: 0;
}

#pricing .pricing ul li {
  display: block;
  list-style: none;
  padding: 16px;
}

#pricing .pricing .btn {
  background: transparent;
  border: 1px solid $brand-primary;
  border-radius: 0px;
  color: $brand-primary;
  font-weight: bold;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

#pricing .pricing .btn:hover {
  background: $brand-primary;
  color: $text-color2;
}

/* end pricing */

/* start contact */
#contact {
  background: $navbar-default-bg;
  padding-top: 20px;
  padding-bottom: 10px;
}

#contact p {
  padding-top: 10px;
}

#contact span {
  float: left;
}

#contact .fa {
  background: $navbar-default-link-color;
  border-radius: 60%;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}

#contact .facebook {
  color: #3B5998;
}
#contact .twitter {
  color: #4099FF;
}
#contact .google {
  color: #d34836;
}
#contact .instagramm {
  color: #3f729b;
}

/* end contact */

/* start footer */
footer {
  background: $navbar-default-bg;
  color: $navbar-default-link-color;
  font-weight: 400;
  text-align: center;
  padding: 20px;
}

/* end footer */
