@(smsForm: Form[Sms])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])
@implicitField = @{ FieldConstructor(fieldConstructorTemplate.f) }

@import helper._

@main("Welcome to Messaging Apis") {	
	<h1>Welcome to Swisscom Send SMS Api</h1>
    <p>
    	This Send SMS Api allows you to send SMS.<br/>
    	<img src="@routes.Assets.at("images/234_sms_03_rgb.png")" height="50em">
    </p>
    @helper.form(action = routes.SmsSender.send, 'class->"form-horizontal") {
   		@if(smsForm.hasErrors) {
	    	<div class="alert alert-dismissable alert-danger">
	  			<button type="button" class="close" data-dismiss="alert">x</button>
			  	<strong>Oh snap!</strong> Please fix all errors and try sending again.
			</div>
    	}

	  <fieldset>
	    <legend></legend>
    	@inputText(
            smsForm("clientId"), 
            '_label -> "ClientId",
            'class -> "form-control",
            'placeholder -> "ClientId",
            '_error -> smsForm.error("clientId")
        )
    	@inputText(
            smsForm("senderMsisdn"), 
            '_label -> "Sender",
            'class -> "form-control",
            'placeholder -> "Sender",
            '_error -> smsForm.error("senderMsisdn")
        )
    	@inputText(
            smsForm("recipient"), 
            '_label -> "Recipient",
            'class -> "form-control",
            'placeholder -> "Recipient",
            '_error -> smsForm.error("recipient")
        )
    	@inputText(
            smsForm("message"), 
            '_label -> "Message",
            'class -> "form-control",
            'placeholder -> "Message",
            '_error -> smsForm.error("message")
        )
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	        <a href="@routes.Application.index" class="btn btn-default">Cancel</a>
	        <button type="submit" class="btn btn-primary">Send</button>
	      </div>
	    </div>
	  </fieldset>
	}

}