@(backend : String, redirectUri : String, clientId : String, transactionId : String, payment_amount : String, error : Option[String])(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play

@main("O365 Selfcare Flow: Start") {
<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script>
function savePaymentAmount() {
  var value = document.getElementById('payment-amount').value;
  $('#amount-status-label').css({ 'display': 'none' })
  $.getJSON(jsRoutes.controllers.PaymentsFlowSelfcare.savePaymentAmount().url, {
    "payment-amount": value
  }, function(data) {
      if(data && data.message) {
          $('#amount-status-label').css({ 'display': 'inline' })
      }
  })
}
</script>

<div class="panel">
  <div class="panel-body">
  	<h2>Welcome to the O365 Selfcare Shop</h2>

   	@if(transactionId != null) {
        <div class="success alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">x</button>
          TransactionId: @transactionId
        </div>
    }
  	
  	@if(error.isDefined) {
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">x</button>
          Error: @error.get
        </div>
    }
   	@if(transactionId == null) {       
    	<p>
    		<img src="@routes.Assets.at("images/O365.png")"/>
    	</p>
      <p>
        <h4>Modify charged amount</h4>
        <input type="text" name="payment-amount" id="payment-amount" value="@payment_amount" /><span id="amount-status-label" style="display: none; margin-left: 5px">Saved!</span>
        <div style="margin-top: 5px;"></div>
        <button onclick="javascript:savePaymentAmount()">Save</button>
      </p>    
    	<p>
    		<a href="@{Play.current.configuration.getString(backend + ".consent_endpoint")}?response_type=code&redirect_uri=@helper.urlEncode(redirectUri)&client_id=@helper.urlEncode(clientId)&lang=en"><img src="/assets/images/BuyNow.jpg"/></a>
    	</p>
    }
  </div><!-- panel-heading -->
</div><!-- panel -->

}
