@()(implicit messages: Messages)
<section id="home" ng-init="init()">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-left">@Messages("welcome.title")</h1>
                    <h4 class="text-left">@Messages("welcome.subtext.1")</h4>
                    <h5 class="text-left">@Messages("welcome.subtext.2")</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <form name="form" id="search-form" ng-submit="submitSearchRedirect()">
                                <div class="input-group">
                                    <input ng-model="searchString" type="text" class="form-control" placeholder="@Messages("search.clazz")">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit" value="submitSearch" type="button">@Messages("search.go")</button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</section>