@()(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import play.i18n.Messages

@main("Welcome to Gymix") {
	<h1>@Messages.get("welcome")</h1>
        <p>@Messages.get("welcome.desc")</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="https://developer.swisscom.com/api">@Messages.get("button.get.started") &raquo;</a></p>
      </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>@Messages.get("section.messaging") APIs</h2>
          <p>@Messages.get("section.messaging.desc")</p>
          <p><a class="btn btn-default" href="#" role="button">@Messages.get("button.explore") &raquo;</a></p>
        </div>
      </div>
}
