@(title: String, user: Option[models.User] = None)(content: Html)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/animate.min.css ")">
        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/gymix.css ")">
    </head>


    <body>
            <!-- start navigation -->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#home" class="navbar-brand text-uppercase">@Messages("brand")</a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#whoweare">@Messages("menu.gymix")</a></li>
                        <li><a href="#feature">@Messages("menu.advantages")</a></li>
                        <li><a href="#studios">@Messages("menu.studios")</a></li>
                        <li><a href="#pricing">@Messages("menu.pricing")</a></li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        @user.map { u =>
                            <a href="@routes.ApplicationController.index">@u.fullname</a>
                            <a href="@routes.ApplicationController.signOut">@Messages("sign.out")</a>
                        }.getOrElse {
                            <a class="btn btn-primary" href="@routes.ApplicationController.signIn">@Messages("sign.in")</a>
                            <a class="btn btn-success" href="@routes.ApplicationController.signUp">@Messages("sign.up")</a>
                        }
                    </form>
                </div>

            </div>
        </div>
            <!-- end navigation -->
        @content

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <i class="fa fa-facebook fa-2x"></i>
                        <i class="fa fa-instagram fa-2x"></i>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 column">
                        <ul class="nav">
                            <li><a href="about-us.html">Kontakt</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3 column">
                        <ul class="nav">
                            <li><a href="#">AGB</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3 column">
                        <ul class="nav">
                            <li><a href="#">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-md-3 column">
                        <ul class="nav">
                            <li><a href="#">Impressum</a></li>
                        </ul>
                    </div>
                </div><!--/row-->
            </div>
        </section>
            <!-- start footer -->
        <footer id="footer">
            <p>Copyright © 2015 Gymix GmbH</p>
        </footer>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
        <script src="@routes.Assets.versioned("javascripts/wow.min.js ")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.singlePageNav.min.js ")"></script>
        <script src="@routes.Assets.versioned("javascripts/custom.js ")"></script>
    </body>
</html>
