@(socialProviders: com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages)


@import b3.inline.fieldConstructor

@import forms.SignInForm.form

<div ng-controller="SignInCtrl">
    <section id="home">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <legend>@Messages("sign.in.credentials")</legend>
                                <form name="form" id="sign-in-form" ng-submit="submit()" ng-model-options="{ updateOn: 'submit blur' }" autocomplete="off">

                                    @b3.email(form("email"), '_hiddenLabel -> Messages("email"),
                                        'placeholder -> Messages("email"), 'class -> "form-control",
                                        'required -> "", Symbol("ng-model") -> "email",
                                        Symbol("ng-class") -> "{ 'has-error': !form.email.$valid }")


                                    @b3.password(form("password"), '_hiddenLabel -> Messages("password"),
                                        'placeholder -> Messages("password"), 'class -> "form-control",
                                        'required -> "", Symbol("ng-model") -> "password",
                                        Symbol("ng-class") -> "{ 'has-error': form.password.$dirty }")

                                    @b3.checkbox(form("rememberMe"), '_text -> Messages("remember.me"), 'checked -> true, Symbol("ng-model") -> "rememberMe", Symbol("ng-init") -> "rememberMe=true")


                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td ng-class="{ success: form.email.$valid, danger: form.email.$invalid }">Valid</td>
                                            </tr>
                                            <tr>
                                                <td ng-class="{ success: form.email.$pristine, danger: !form.email.$pristine }">Pristine</td>
                                            </tr>
                                            <tr>
                                                <td ng-class="{ success: form.email.$dirty, danger: !form.email.$dirty }">Dirty</td>
                                            </tr>
                                            <tr>
                                                <td ng-class="{ success: form.email.$touched }">Touched</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="form-group">
                                        <button id="submit" type="submit" value="submit" class="btn btn-lg btn-success btn-block">@Messages("sign.in")</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div>
                            <p class="not-a-member">@Messages("not.a.member") <a ui-sref="signUp">@Messages("sign.up.now")</a></p>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </section>
</div>
