@()(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@import forms.SignUpForm.form

<h5 >@Messages("section.pricing.selected")
    : {{formData.aboName}} (<a ui-sref="home.signUp.abo">@Messages("word.change")</a>) </h5>

<fieldset class="signUp-fieldset">

    <div class="help-block text-danger" ng-if="form.email.$dirty" ng-messages="form.email.$error">
        <div ng-message="trainee.exists">@Messages("trainee.exists")</div>
        <div class="help-block text-danger" ng-if="(form.firstname.$dirty || form.lastname.$dirty || form.street.$dirty || form.zip.$dirty || form.city.$dirty || form.email.$dirty || form.password.$dirty )">
            <div ng-message="required">@Messages("error.required")</div>
            <div ng-message="trainee.exists">@Messages("trainee.exists")</div>
        </div>
    </div>

        <!-- Text input-->
    <div class="form-group row signUp-formGroup">
        <div class="col-sm-6">
            <input type="text" name="firstname" ng-model="formData.firstname" placeholder="@Messages("firstname")" class="form-control input-sm" required>
        </div>
        <div class="col-sm-6">
            <input type="text" name="lastname" ng-model="formData.lastname" placeholder="@Messages("lastname")" class="form-control input-sm" required>
        </div>
    </div>
    <div class="form-group row signUp-formGroup">
        <div class="col-sm-6">
            <input type="text" name="street" ng-model="formData.street" placeholder="@Messages("street")" class="form-control input-sm" required>
        </div>
        <div class="col-sm-2">
            <input type="text" name="zip" ng-model="formData.zip" placeholder="@Messages("zip")" class="form-control input-sm" ng-pattern="[0-9]{4}" required>
        </div>
        <div class="col-sm-4">
            <input type="text" name="city" ng-model="formData.city" placeholder="@Messages("city")" class="form-control input-sm" required>
        </div>
    </div>
    <div class="form-group row signUp-formGroup">
        <div class="col-sm-6">
            <input type="text" name="email" ng-model="formData.email" placeholder="@Messages("email")" class="form-control input-sm" required>
        </div>
        <div class="col-sm-6">
            <input type="password" name="password" ng-model="formData.password" placeholder="@Messages("password")" class="form-control input-sm" required>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-lg-12">
            <div class="form-group">
                <!-- ng-disabled="form.$invalid" -->
                <button id="submit" type="submit" value="submit" class="btn btn-success btn-block">@Messages("sign.up")</button>
            </div>
        </div>
    </div>
</fieldset>