@(backend: String)(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import play.i18n.Messages

@main("Welcome to "+Messages.get("section.consent.paymentv2")+" Apis") {
    <div class="container">
            <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>@Messages.get("section.consent.paymentv2.transactions")</h2>
                <p>@Messages.get("section.consent.paymentv2.transactions.desc")</p>
                <p><a class="btn btn-default" href="@routes.PaymentV2.transactions(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>@Messages.get("section.consent.paymentv2.amountpay")</h2>
                <p>@Messages.get("section.consent.paymentv2.amountpay.desc")</p>
                <p><a class="btn btn-default" href="@routes.PaymentV2.pay(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>@Messages.get("section.consent.paymentv2.amountrefund")</h2>
                <p>@Messages.get("section.consent.paymentv2.amountrefund.desc")</p>
                <p><a class="btn btn-default" href="@routes.PaymentV2.refund(backend)" role="button">@Messages.get("button.explore") &raquo;</a></p>
            </div>
        </div>
    </div>
}