@(implicit request: play.api.mvc.Request[play.api.mvc.AnyContent])

@import helper._
@import play.i18n.Messages
@import play.api.Play

@main("Welcome to Mobile Apis") {

    <img src="@routes.Assets.at("images/speedtest.png")" />
    
    <br><br>
    <p>
    	<h4>This is a Speed Test for your Mobile Phone</h4>
    </p>
    
    <a class="btn btn-primary" href="@routes.MobileCapacity.gaucheWithoutAPI" role="button">Test Speed Without API</a>
    <a class="btn btn-primary" href="@routes.MobileCapacity.gaucheWithAPI" role="button">Test Speed With API</a>

}